.earnings {
  background-color: var(--color-base);
  border-radius: var(--border-radius);
  padding: var(--margin-XL);
  min-width: 256px;
  align-self: center;
}

.earnings .currency {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  margin-bottom: calc(var(--unit) / 4);
}

.earnings .currency .earn {
  color: var(--color-accent);
}

.earnings .currency .symbol {
  font-size: 2rem;
  line-height: 2.1rem;
  height: 2rem;
}

.earnings .currency + strong {
  display: block;
  font-size: 0.9rem;
  color: var(--color-text-light);
}

.earnings .currency + strong:not(:last-child) {
  margin-bottom: calc(var(--unit) * 2);
}

@media only screen and (max-width: 440px) {
  .earnings {
    min-width: auto;
    width: -webkit-fill-available;
  }
}
