h1 {
  font-size: var(--font-size-XL);
}

h2 {
  font-size: calc(var(--font-size-XL) * 0.8);
}

h1,
h2 {
  margin: var(--margin-S) 0 var(--margin-M) 0;
}

p {
  line-height: calc(var(--font-size-M) * 1.5);
  margin-bottom: calc(var(--unit) * 2);
}

li,
p {
  font-size: var(--font-size-M);
}

li {
  line-height: calc(var(--unit) * 1.8);
  margin-bottom: calc(var(--unit) / 2);
  margin-left: calc(var(--unit) * 3);
}

small {
  font-size: var(--font-size-S);
}

blockquote {
  background-color: var(--color-base-light);
  border-radius: var(--border-radius);
  font-size: var(--font-size-M);
  line-height: calc(var(--unit) * 1.8);
  margin: calc(var(--unit) * 2) 0;
  padding: calc(var(--unit) * 2);
}

blockquote > * {
  display: block;
}

section {
  padding-bottom: var(--offset);
  padding-top: var(--offset);
}

section.text {
  background-color: var(--color-text);
  color: var(--color-text-contrast);
}

section.expanded {
  padding-bottom: calc(var(--offset) * 2);
  padding-top: calc(var(--offset) * 2);
}

nav.learn {
  background-color: var(--color-base-light);
  border-radius: var(--border-radius);
  padding: calc(var(--unit) * 2);
  position: sticky;
  top: calc(var(--offset) * 1);
}

nav.learn > a {
  color: var(--color-text-light);
  display: block;
  line-height: 2rem;
  text-decoration: none;
}

nav.learn > a:hover {
  color: var(--color-text-contrast);
}

.row {
  align-items: baseline;
  display: flex;
  flex-direction: row;
}

.currency {
  font-family: var(--font-family-currency);
  font-size: var(--font-size-L);
  font-weight: 700;
}

.content {
  margin: 0 auto;
  max-width: var(--max-width);
  padding-left: var(--offset);
  padding-right: var(--offset);
}

.content.cols {
  display: flex;
  flex-direction: row;
}

.content .col {
  flex: 1;
}

.content .col:first-child {
  flex: 2;
  max-width: calc(var(--max-width) / 1.5);
}

.content .col + .col:last-child {
  padding-left: calc(var(--offset) * 2);
}

.icon {
  background-color: var(--color-text-light);
  border-radius: 50%;
  display: block;
  font-size: var(--font-size-S);
  height: var(--font-size-M);
  line-height: var(--font-size-M);
  margin-right: var(--margin-S);
  width: var(--font-size-M);
}

.active .icon {
  background-color: var(--color-accent) !important;
}

.info {
  color: var(--color-text-light);
  margin: 0 calc(var(--unit) / 2);
  margin-top: var(--margin-L);
}

@media only screen and (min-width: 1024px) {
  section.expanded .col:first-child {
    max-width: calc(var(--max-width) / 3);
  }
}

@media only screen and (max-width: 1024px) {
  section.expanded .col:first-child {
    margin-bottom: var(--margin-M);
    max-width: 100%;
  }

  .content.cols {
    flex-direction: column;
    align-items: center;
  }

  .content .col + .col:last-child {
    padding-left: 0;
  }
}

@media only screen and (min-width: 440px) and (max-width: 1024px) {
  .hide-tablet {
    display: none;
  }
}

@media only screen and (max-width: 440px) {
  .hide-mobile {
    display: none;
  }
}
