header {
  padding-bottom: calc(var(--unit) * 2);
  padding-top: calc(var(--unit) * 2);
  display: flex;
  flex-direction: row;
}

header .logo {
  font-size: var(--font-size-L);
}

header nav {
  align-self: center;
  flex: 1;
}

header nav a {
  color: var(--color-text-light);
  margin-left: calc(var(--offset) / 2);
  text-decoration: none;
}

header nav a:hover {
  color: var(--color-text);
}

header nav a > strong {
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  color: var(--color-primary);
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
}

header nav a:hover > strong {
  color: var(--color-text);
}

@media only screen and (max-width: 440px) {
  header nav {
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 441px) {
}
