#calculator {
  margin-top: var(--unit);
}

#calculator > * {
  flex: 1;
  min-height: 280px;
}

#calculator .form {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: var(--margin-XL);
  z-index: 1;
}

#calculator .form {
  color: var(--color-text-contrast);
  background-color: var(--color-text);
}

#calculator nav {
  margin-bottom: var(--margin-L);
}

#calculator button {
  border-bottom: solid 1px var(--color-text-light);
  opacity: 0.25;
  width: 100%;
}

#calculator button.active {
  border-bottom-color: var(--color-text-contrast);
  opacity: 1;
}

#calculator button .icon {
  background-color: var(--color-text-light);
  border-radius: 50%;
  display: block;
  font-size: var(--font-size-S);
  height: var(--font-size-M);
  line-height: var(--font-size-M);
  margin-right: var(--margin-S);
  width: var(--font-size-M);
}

#calculator .amount {
  border-bottom: solid 1px var(--color-text-contrast);
  padding-bottom: calc(var(--unit) / 2);
  margin-bottom: calc(var(--unit) * 2);
}

#calculator .amount .rate {
  flex: 1;
  text-align: right;
  color: var(--color-text-light);
}

#calculator input[type='number'] {
  border: 0;
  flex: 0;
  width: 100%;
}

#calculator input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1px;
  background-color: var(--color-primary);
  outline: none;
}

#calculator label {
  padding: 0;
}

input[type='range']:hover {
  background-color: var(--color-text-contrast); /* Grey background */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background-color: var(--color-accent);
  cursor: grab;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

input[type='range']::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background-color: var(--color-accent);
  cursor: pointer;
}

input[type='range']:active::-webkit-slider-thumb {
  cursor: grabbing;
  background-color: var(--color-primary);
}

@media only screen and (min-width: 768px) {
  #calculator {
    display: flex;
    align-items: center;
  }
}
